#game{
   margin: auto;
   
    height: 400px;

    width: 500px;
    border: 1px solid black;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
   background-color: rgba(32, 178, 171, 0.623);
}
.row {
    flex-grow: 1;
     display: flex;
   ; }

.disc {
    flex-grow: 1;
    position: relative;
    border: 1px solid black;
    border-radius: 50%;
    background-color: white;
}

.player1 {
    background-color: red;
}

.player2 {
    background-color: yellow;
}