@font-face {
    font-family: 'Cafeteria';
    src: url('./Cafeteria-Bold.otf');}

:root {
    box-sizing: border-box;
    
}

html {
    background: url('./connect-four.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Cafeteria;
    font-size: large;
}

#game{
   margin: auto;
   
    height: 425px;

    width: 500px;
    border: 1px solid black;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
   background-color: rgba(32, 178, 171, 0.623);
}
.row {
    flex-grow: 1;
     display: flex;
   ; }

.disc {
    flex-grow: 1;
    position: relative;
    border: 1px solid black;
    /* border-radius: 50%; */
    background-image: url("circleimage.png");
    background-color: white;
}

.player1 {
    background-color: red;
}

.player2 {
    background-color: black;
}

#turn-message, #space-message{
    text-align: center;
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
}

h1 {
    
    text-align: center;
    text-transform: uppercase;
    
}

button {
    margin: 0 auto;
    display: block;
    border:none;
    padding: 30px;
    font-size: 30px;
    cursor: pointer;
    background-color: lightgoldenrodyellow;
}


   

    
    
